.GalleryNav {
    margin: 1.4rem 0;

    &__tab_menu {
        max-width: 600px;
        margin: 0 auto;
    }

    &__tab_items {
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    &__tab_item {
        padding: 1.2rem;
        font-size: 1.1rem;
        font-weight: 500;
        color: #333;
        border-bottom: 2px solid transparent;
    }

    &__tab_item a {
        text-decoration: none;
        color: #333;
    }

    &__tab_item:hover,
    &__active{
       color: #0a88d3;
       border-bottom: 2px solid #0a88d3;
       cursor: pointer;
    }
}

@media (max-width:  580px) {
    .hideItem--tablet {
        display: none;
    }
}

@media (max-width:  800px) {
    .hideItem--desktop {
        display: none;
    }
}
