.Form {
    &__searchform {
        margin-top: 3rem;
        background: #fbfbfb;
        padding: 10px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__search {
        width: 20px;
        height: 20px;
    }

    &__searchbar {
        @extend .Form__searchform;
        margin: 0;
        padding: 0;
        border: 1px solid rgba(0,0,0, 0.2);
        border-radius: 0px;
    }
}



