.modal {
    position: fixed;
    top: 0;
    transform: translateY(-999px);
    padding: 2rem 0; 
    max-height: 100vh;
    max-width: 100vw;
    background: #fff;
    overflow-x: auto;
    z-index: 500;
}


.showModal {
    top: 50%;
    transform: translateY(-50%);
}


@media (min-width: 600px) {
    .modal {
        width: 90vw;
        left: 0;
        transform: translateX(-100%) translateY(-100%);
    }

    .showModal {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

