.Logo {
    margin: 0.5rem 1rem;
    
    & a {
        text-decoration: none;
    }

    &__title {
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        font-weight: 400;
    }

    &__title:hover {
        color: #777;
        cursor: pointer;
    }
}