.Btn {
    background: #3eb060;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;


    & a {
        color: #fff;
        text-decoration: none;
    }

    &--cta {
        padding: 10px  1.5rem;
        border-radius: 5px;
        font-size: 1.1rem;
        
        &:hover {
            background: #246638;
        }
    }

    &--search {
        padding: 10px;
        border-radius: 50%;
    }

    &--search_nav {
        padding: 5px;
        border-radius: 0px;
        background: #fff;
    }
}
