.btn {
    background: #3eb060;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;

    &_cta {
        padding: 10px  1.5rem;
        border-radius: 5px;
        font-size: 1.1rem;

        &:hover {
            background: #246638;
        }

        &:disabled {
            background: #333;
            color: #fff;
        }
    }

    &_search {
        padding: 10px;
        border-radius: 50%;
    }

    &_search_nav {
        padding: 5px;
        border-radius: 0px;
        background: #fff;
    }


}
