.single_image {
    position: relative;
    display: grid;
    grid-template-areas: 
    "image"
    "buttons";

    &__title {
        text-align: center;
        font-size: 1.2rem;
        color: #333;
    }

    &__author_section {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__author_title,
    &__author_subtitle {
        margin: 0.5rem;
        color: #333;
    }

    &__author_title {
        font-size:  1.2rem;
    }

    &__author_sub_title {
        font-size:  1rem;
    }
}

@media (min-width: 700px) {
    .single_image {
        grid-gap: 0.5rem;
        grid-template-areas: 
        "image image image buttons"
        "image image image buttons"
        "image image image buttons";


        &__author_section {
           flex-direction: column;
           justify-content: center;
           align-items: center;
        }
    }
}