.single_image {  
    
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__img {
        max-height: 600px;
    }

    &__title {
        text-align: center;
        font-weight: 400;
        font-size: 1.2rem;
        margin-top: 1.2rem;
        margin-left: 0.5rem;
        color: #333;
    }

    &__author_section {
        max-width: 400px;
        width: 100%;
        padding: 0.5rem;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__author_title {
        margin: 0;
        font-size: 1.2rem;
        color: #333;
    } 

    &__author_subtitle {
        margin: 0;
        font-size: 1rem;
        color: #333;
    }

    &__social_links {
        max-width: 400px;
        margin: 0 auto;
        padding: 0.5rem;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media (min-width: 700px) {
    .single_image { 
        padding: 1rem; 
    
        &__content {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }

        &__author_section {
            flex-direction: column;
        }

        &__author_section button {
            margin-top: 1rem; 
        }

        &__img_container {
            flex: 2;
            margin-left: 0.5rem;
        }
    }
}


@media (min-width: 999px) {
    .single_image {
        &__img_container {
            height: 600px;
        }

        &__img {
            height: 100%;
        }
    }
}
