.input {
    &__search,
    &__select {
        display: block;
        padding: 10px;
        border: none;
        outline: none;
        background: #fbfbfb;
        font-size: 1rem;
    }

    &__search {
        width: 80%;
    }

    &__search_nav {
        @extend .input__search;
        padding: 5px;
        height: 30px;
        background: #fff;
    }

    &__select {
        margin-right: 1rem;
    }

    &__select_nav {
        @extend .input__select;
        padding: 5px;
        margin: 0;
        height: 30px;
        min-width: 70px;
        background: #fff;
    }

    &__default {
        width: 100%;
        padding:  0.8rem;
        margin-bottom: 0.5rem;
        border: 1px solid rgba(0,0,0, 0.3);
        box-shadow: inset 1px 1px 1px 1px rgba(0,0,0, 0.1);
        border-radius: 3px;
    }
}