.desktopNav {
    display: none;
}

@media (min-width: 780px) {
    .desktopNav {
        list-style: none;
        margin: 0 0.5rem 0 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__item {
            padding: 20px 22px;
            color: #333;
            font-weight: 500;
            cursor: pointer;
        }

        &__item:hover {
            background: #b7b7b7;
        }

        &__sub_container {
            position: relative;
        }

        &__icon {
            display: inline-block;
            width: 1rem;
            margin: 0 12px; 
        }
    }
}